<div class="login-background">
    <div class="container">
        <div class="row">
            <div class="centered-login-container col-md-3">
                <div class="form-login">
                    <h4>Welcome To My Admin Module</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    <br/>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    <br/>
                    <div class="wrapper">
                        <input type="submit" value="SUBMIT" (click)="goDashboard()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>