.login-background {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#36282d !important;
    -webkit-font-smoothing: antialiased;
}
.centered-login-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
