<table class="table table-bordered">
    <thead>
      <tr class="vertical-align-maker">
        <th scope="col">#</th>
        <th scope="col" 
          *ngFor="let tab_header_text of header_format;">{{tab_header_text.name}}</th>
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table_details_row of table_details; let i = index" class="vertical-align-maker">
        <td>{{i+1+start_index}}</td>
        <td *ngFor="let item of header_format">
          <span *ngIf="checkString(item.type)">
              {{table_details_row[item.key]}}
          </span>
          <input *ngIf="checkCheckbox(item.type)" 
            type="checkbox" [checked]="table_details_row[item.key]" disabled>
        
        </td>
        
        <!-- <td></td> -->
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary glyphicon glyphicon-edit"
                  (click)="modifyRowInvoked(i)"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                  (click)="deleteRowInvoked(i)"></button>
            </div>
        </td>
      </tr>
      
    </tbody>
  </table>
